body {
  position: relative;
  height: 100vh;
  padding: 2rem;
  text-align: center;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
}

.logo {
  height: 6em;
  padding: 1.5em;
  transition: filter 300ms, transform 500ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #0711d2aa);
  transform: rotate(360deg);
}

.card {
  padding: 2em;
  border-radius: 1em;
  box-shadow: 0 0 2em #646cffaa;
  transition: transform 300ms;

}

@media screen and (max-width: 768px) {
  #root {
    padding: 1rem;
  }

  .logo {
    height: 4em;
    padding: 1em;
  }

  .card {
    padding: 1em;
  }
}
.slow {
  animation-duration: 1ms;
}